{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Джанго Блог</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
        <!-- BEGIN (write your solution here) -->
        <a class="navbar-brand" href="{% url 'about' %}">О нас</a>

        <!-- END -->
        </li>

        <li class="nav-item">
        <!-- BEGIN (write your solution here) -->
        <a class="navbar-brand" href="{% url 'articles:articles_index' %}">Статьи</a>
        <!-- END -->
        </li>
    </ul>
    </div>
</nav>
{% endblock %}